body{
background-image:url(vito.jpg);
background-size: 2000px 1000px;

}
h1{
padding: 50px;
	margin: 70px;
text-align: center;
font-size: 3.2em;
margin-top: 300px;
color: red;
}

nav > ul{
margin: 5px;
padding: 5px;

}
nav li{
	list-style-type: none;
}
nav > ul > li{
	float: left;
}
.submenu{
	display: none;
}
nav input[type=checkbox]{
	display: none;
}
.menu-mobile{
	display: none;
}
nav{
width: 100%;
background-color: #black;
}
nav > ul > li{
float: left;
position: relative;
}
nav > ul::after{
content: "";
display: table;
clear: both;
}
nav a{
display: inline-block;
text-decoration: none;
}
nav > ul > li > a{
padding: 30px 30px;
color: grey;
}
nav li:hover .submenu{
display: inline-block;
position: absolute;
top: 100%;
left: 0px;
padding: 0px;
z-index: 100000;
}
.submenu li{
	border-bottom: 1px solid #CCC;
}
.submenu li a{
padding: 15px 30px;
font-size: 13px;
color:black ;
width: 270px;
}
.menu-html:hover
{
	border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
     0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred;
    background-color: darkred; 

}
.menu-css:hover
{
border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
      0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred;
    background-color: darkred; 
}
.menu-if:hover
{
border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
     0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred;
    background-color: darkred; 
}
p {

  text-align: center;
  font-size: 2.5em;
}

nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
}
.menu-html .submenu{
	border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
    0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred; 
}
.menu-css .submenu{
	border-top: 5px solid darkred;
   color: darkred;
  box-shadow:
  0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred; 
}
.menu-if .submenu{
	border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
      0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred; 
}
.submenu li:hover a{
color:#EEE ;
font-weight: bold;
}
.menu-html .submenu li:hover{
background-color: darkred;
}
.menu-css .submenu li:hover{
background-color: darkred;
}
.menu-if .submenu li:hover{
background-color: darkred;
}
.menu-Js:hover
{
  border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
    0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred;
    background-color: darkred; 
}
.menu-Js .submenu{
  border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
    0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred; 
}
.menu-Js .submenu li:hover{
background-color: darkred;
}
.menu-Js-exo:hover
{
border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
    0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred;
    background-color: darkred; 
}
.menu-Js-exo .submenu{
  border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
    0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred; 
}
.menu-Js-exo .submenu li:hover{
background-color: darkred;
}
.menu-PPE:hover
{
  border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
     0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred;
    background-color: darkred; 

}
.menu-PPE .submenu li:hover{
background-color: darkred;
}
.menu-PPE .submenu{
  border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
    0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred; 
}
.menu-cr:hover
{
  border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
     0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred;
    background-color: darkred; 

}
.menu-cr .submenu{
  border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
    0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred; 
}
.menu-cr .submenu li:hover{
background-color: darkred;
}
.menu-f2:hover
{
  border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
     0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred;
    background-color: darkred; 

}
.menu-f2 .submenu{
  border-top: 5px solid #purple;
   color: #purple;
  box-shadow:
    0 0 8px darkred,
    inset 0 0 8px darkred,
    0 0 16px darkred,
    inset 0 0 16px darkred,
    0 0 32px darkred,
    inset 0 0 32px darkred; 
}
.menu-f2 .submenu li:hover{
background-color: darkred;
}