

.body

{

	border: solid black;
	width: 100%;
	height: 1311px;
}



.sec{
	width: 100%;
	height: 20px;
	background-color: red;
	padding: auto;
	margin: auto;
	border: solid black;
}

.Image{
	width: 140px;
	height: 140px;
	border-radius: 70px;
	float: left;
	margin-top: 50px;
}


.entete-back{
	width: 100%;
	height: 200px;
	background-color: darkblue;


}





.entete{
	float: left;
}


.entete2 p{
	font-family: 'Fredoka One', cursive;
	font-size: 20px;
}


.entete2{
	float: right;
	color: darkred;
	
}

.dest{
	float: left;
margin: 30px;
font-size: 30px;
}


.dest p u{
	font-family: 'Fredoka One', cursive;
}

.envoi{
	float: right;
	font-size: 20px;
	color: purple;



	}
	.envoi p u{
		font-family: 'Fredoka One', cursive;
	}





	.tab input{
		width: 68%;
	}

	.titre_tab{
		color: whitesmoke;
		text-align: center;
		background-color: Black;
		font-size: 23px;
	}

	.fin{
		text-align: right;
	}

	.fond_tab{
		
		background-color: yellow;

		 
	}
	.couleur{
		background-color: yellow;
		text-align: right;
	}

	.arg{
		text-align: right;
	}


	.prix{
		text-align: right;
	}

	.total{
		background-color: yellow;
		text-align: right;
	}

	.tab td input{
		width: 98%;

	}

	.réponse td input{
		
		width: 100%;
		background-color: transparent;
	}
