
h1
{
	color: purple;
	
}


h4
{
	color: yellow;
}

.color
{
color: purple;
width: 100%;
text-align: center;
padding: 10px;
}

.fond

{
background: url(noir.JPG);
background-repeat: no-repeat;
background-size: 100%;

}
.p1
{
	background-color: black;
}
.page
{
width: 95%;
height:850px;
border: 3px solid black;
font-size: 16px;
font-family: fantasy;
padding: 10px;
box-shadow: 2px 4px 3px black;

}

.entete
{
width: 100%;
border: 3px solid magenta;
border-radius: 50px;
height: 150px;
margin-right: 50%;
padding: 5px;
text-align: center;
}

.form
{
border: 3px;
height: 510px;
padding: 10px;
}

.Sec1
{
float: left;
border: 3px solid black;
width: 390px;
height: 500px;
}

.Sec2
{
float: right;
width: 70%;
border: 1px solid ;
height: 500px;

}

nav > ul
{
margin: -10px;
padding: -10px;
}

nav li
{
list-style-type: none;
margin: auto;
text-align: center;
}

.submenu
{
display: none;
}

nav > ul >li 
{
	float: left;
	position: relative;
}

nav > ul::after
{
	content: "";
	display: table;
	clear: both;
}

nav a 
{
	display: inline-block;
	text-decoration: none;
}

nav li:hover .submenu
{
	display: inline-block;
	position: relative;
	top: 10%;
	left: 100%;
	padding: 0px;
	z-index: 100000;
	border: 5px solid black;
	box-shadow: 2px 3px black;

}

li
{
	border: 1px solid black;
	box-shadow: 2px 3px black;
	margin: 10px 10px;
	background-color: #magenta;
}

.submenu li 
{
border-bottom: 3px solid white;
}

.submenu li a 
{
	padding: 15px 30px;
	font-size: 13px;
	width: 270px;
}

.menu-accueil:hover
{
	border-top: 5px solid magenta;
	background-color: white;
}

.menu-CV:hover
{
	border-top: 5px solid magenta;
	background-color: white;
}

.menu-projets:hover
{
	border-top: 5px solid magenta;
	background-color: white;
}

.menu-veilles:hover
{
	border-top: 5px solid magenta;
	background-color: white;
}

.menu-contact:hover
{
	border-top: 5px solid magenta;
	background-color: white;
}

nav > ul > li:hover a 
{
padding: 15px 30px 20px 30px;
}

.menu-accueil .submenu
{
	background-color: white;
}

.menu-CV .submenu
{
	background-color: white;
}

.menu-projets .submenu
{
	background-color: white;
}

.menu-veilles .submenu
{
	background-color: white;
}

.menu-contact .submenu
{
	background-color: white;
}

.submenu li:hover a 
{
	color: magenta;
	font-weight: magenta;
}


.menu-accueil .submenu li:hover
{
	background-color: white;
}

.menu-CV .submenu li:hover
{
	background-color: white;
}

.menu-projets .submenu li:hover
{
	background-color: white;
}

.menu-veilles .submenu li:hover
{
	background-color: white;
}

.menu-contact .submenu li:hover
{
	background-color: white;
}
