body{
	font-family: calibri;
}
h2{
	color: green;
	font-family: italic;
	border-top: 1px solid black;
	padding-top: 20px;
}
.entete{
	color: darkred;
	padding-bottom: 8px;
	float: right;
	font-size: 28px;
}

h3{
	padding-left: 32px;
}

